body {
    background-color: #e5e5e5;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 888px;
    height: 656px;
    background-color: #ffffff;
}
.header {
    height: 39px;
    background-color: #c1eb9f;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.header h3 {
    margin: 0px 38px 0px 10px;
    
}
.header select {
    background: none;
    border: none;
}
form {
    height: 580px;
}
textarea {
    width: 200px;
    height: 99px;
    resize: none;
}
.form_left {
    width: 348px;
    height: 552px;
    margin: 17px 0px 10px 10px;
}
.form_left label {
    margin: 17px 70px 0px 10px;
}
.form_left input {
    margin-bottom: 20px;
}
.form_left textarea {
    vertical-align: top;
    margin-bottom: 20px;
}
.form_left select {
    margin-bottom: 20px;
}