.header__wrapper {
    max-width: 1100px;
    margin: 0 auto;
       .header__wrapper_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
            .logo__img {
                max-width: 128px;
            }
            .headder__wrapper_nav_links {
                max-width: 550px;
                display: flex;
                    li {
                        padding: 10px 25px 10px 25px;
                        border: 1px solid rgb(26, 20, 20);
                        border-radius: 5px;
                        margin-left: 25px;
                            a {
                                padding: 10px 25px 10px 25px;
                                color: rgb(26, 20, 20);
                                
                            }
                    }
                    li:hover {
                        border: 1px solid rgb(131, 68, 68,);
                        a {
                            color: rgb(131, 68, 68);
                        }
                    }
            }
       } 
}