body {
    background-color: #f9f9f9;
}
.header {
    padding-bottom: 40px;
}
.wrapper {
    width: 967px;
    height: 950px; 
    margin: 0 auto;
    background-color: #fff;
    padding: 60px 45px 60px;
}
.logo {
    width: 145px;
    height: 40px;
    display: block;
    padding-bottom: 40px;
}
.nav-menu {
    list-style-type: none;
    padding: 0 ;
    background-color: #504f4f;
    overflow: auto;
}
.nav-menu li {
    border-right: 1px solid #838383; 
    float: left; 
}
.nav-menu a{
    color: white;
    display: inline-block;
    height: 40px;
    padding: 0 40px;
    text-decoration: none;
    line-height: 40px;
}
.active {
    background-color: #434343;
}
.main {
    margin-bottom: 59px;
    width: 967px;
    height: 581px;
}
.side-menu {
    float: left;
    border: 1px solid #c8c8c8;
    overflow: auto;
}
.side-menu li {
    border: 1px solid #c8c8c8;
    height: 40px;
    width: 240px;
    overflow: hidden;} 
.side-menu-tel {
    background-color: #f9f9f9;
    
}
.side-menu-tel a {
    margin-left: 13px;
}
.side-menu a {
    color: #656363;
    height: 40px;
    width: 240px;
    padding: 0 22px;
    text-decoration: none;
    line-height: 42px;
    display: inline-block;
}
.main-content {
    float: right;
    width: 680px;
    
}
.image {
    border: 1px solid #c7c7c7;
    margin-bottom: 40px;
    padding: 48px 89px 46px 90px;
    width: 500px;
}
.main-content p {
    width: 624px;
    height: 140px;
    padding-left: 25px;
    color: #656363;
}
.footer {
    background-color: #e1e1e1;
    overflow: auto;
    width: 967px;
    height: 40px;
}
.footer li {
    padding-right: 69px ;
    padding-left: 25px;
    height: 40px;
    line-height: 40px;
    float: left;
}
.footer a {
    text-decoration: none;
    color: #656363;
    }
.f_active {
    text-decoration: underline;
}
.prop {
    float: right;
    line-height: 40px;
    padding-right: 25px;
    color: #656363;
}