body {
    background-color: #f9f9f9;
}
.header {
    padding-bottom: 40px;
}
.wrapper {
    width: 1060px;
    height: 950px; 
    margin: 0 auto;
    background-color: #fff;
    padding: 60px 45px 60px;
}
.logo {
    width: 145px;
    height: 40px;
    display: block;
    padding-bottom: 40px;
}
.nav-menu {
    list-style-type: none;
    padding: 0 ;
    background-color: #504f4f;
    overflow: auto;
}
.nav-menu li {
    border-right: 1px solid #838383; 
    float: left; 
}
.nav-menu a{
    color: white;
    display: inline-block;
    height: 40px;
    padding: 0 40px;
    text-decoration: none;
    line-height: 40px;
}
.active {
    background-color: #434343;
}
.side-menu {
    float: left;
    border: 1px solid #c8c8c8;
    overflow: auto;
}
.side-menu li {
    border: 1px solid #c8c8c8;
    height: 40px;
    width: 240px;
    overflow: hidden;}
.side-menu a {
    color: #656363;
    height: 40px;
    width: 240px;
    padding: 0 22px;
    text-decoration: none;
    line-height: 42px;
    display: inline-block;
}
.main-content {
    float: right;
    width: 680px;
    
}
.image {
    border: 1px solid #c7c7c7;
    margin-bottom: 40px;
    padding: 48px 89px 46px 90px;
    width: 500px;
}
.main-content p {
    width: 624px;
    height: 140px;
    padding-left: 25px;
}