@font-face {
  font-family: 'Halyard Display';
  src: url(../fonts/Halyard_Display.ttf);
}

@font-face {
  font-family: 'Halyard Text';
  src: url(../fonts/Halyard_Text_Regular.ttf);
}

body {
  background-color: #E5E5E5;
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.wrapper li {
  list-style: none;
}

.wrapper .header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .logo {
  color: #1E266D;
  text-decoration: none;
  font-family: 'Halyard Display';
  font-style: normal;
  font-weight: 600;
  font-size: 30.9562px;
  line-height: 100%;
}

.wrapper .header .logo::after {
  content: ':';
  color: #FF2E6A;
}

.wrapper .header .dropdown {
  position: relative;
  display: inline-block;
}

.wrapper .header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.wrapper .header .dropdown-content a {
  color: #1E266D;
  padding: 12px 16px;
  text-decoration: none;
  float: right;
}

.wrapper .header .dropdown-content a:hover {
  background-color: #ddd;
}

.wrapper .header .dropdown:hover .dropdown-content {
  display: block;
}

.wrapper .header .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.wrapper .header .contacts {
  font-family: 'Halyard Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 80px;
}

.wrapper .header .contacts span {
  color: #1E266D;
  margin-right: 35px;
}

.wrapper .header .contacts button {
  background: #3751FF;
  border-radius: 100px;
  color: #FFFFFF;
  padding: 16px 18px;
  border: none;
}

.wrapper .header .contacts button:hover {
  background-color: #fff;
  color: #FF2E6A;
}

.wrapper .main {
  margin: 0 210px 0 210px;
}

.wrapper .main .main__greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 150px;
}

.wrapper .main .main__greeting h1 {
  font-family: 'Halyard Display';
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 105%;
  color: #1E266D;
  max-width: 503px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.wrapper .main .main__greeting p {
  font-family: 'Halyard Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #455880;
  padding-top: 25px;
  margin: 0 auto;
}

.wrapper .main .main__greeting .main__greeting_buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.wrapper .main .main__greeting .main__greeting_buttons .main__greeting_buttons_blue {
  font-family: 'Halyard Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  background-color: #3751FF;
  border-radius: 100px;
  border: none;
  padding: 17px 39px;
  margin-right: 22px;
}

.wrapper .main .main__greeting .main__greeting_buttons .main__greeting_buttons_clear {
  font-family: 'Halyard Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #455880;
  background-color: #fff;
  border-radius: 100px;
  border: none;
  padding: 17px 39px;
}

.wrapper .main .main__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .main__logos p {
  font-family: 'Halyard Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: rgba(69, 88, 128, 0.5);
}

.wrapper .main .main__logos .main__logos_sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1180px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .main .main__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .main__about h2 {
  font-family: 'Halyard Display';
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #1E266D;
  margin-top: 169px;
  max-width: 452px;
  width: 100%;
}

.wrapper .main .main__about .main__about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .main__about .main__about_content .main__about_content_left_img {
  margin-top: -180px;
  margin-right: 138px;
  margin-bottom: 34px;
}

.wrapper .main .main__about .main__about_content .main__about_right_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_design, .wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_easy, .wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_fast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid rgba(69, 88, 128, 0.2);
}

.wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_design .main__about_right_panel_transcription, .wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_easy .main__about_right_panel_transcription, .wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_fast .main__about_right_panel_transcription {
  margin-left: 48px;
  padding-bottom: 10px;
}

.wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_design .main__about_right_panel_transcription h4, .wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_easy .main__about_right_panel_transcription h4, .wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_fast .main__about_right_panel_transcription h4 {
  margin-top: 0;
  font-family: 'Halyard Display';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  color: #1E266D;
}

.wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_design .main__about_right_panel_transcription P, .wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_easy .main__about_right_panel_transcription P, .wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_fast .main__about_right_panel_transcription P {
  font-family: 'Halyard Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #455880;
}

.wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_easy,
.wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_fast {
  margin-top: 29px;
}

.wrapper .main .main__about .main__about_content .main__about_right_panel .main__about_right_panel_box_fast {
  border: none;
}

.wrapper .main .main__portfolio {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF9EA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .main .main__portfolio h2 {
  font-family: 'Halyard Display';
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #1E266D;
  margin-top: 139px;
}

.wrapper .main .main__portfolio p {
  font-family: 'Halyard Text';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  text-align: center;
  color: #455880;
  max-width: 420px;
  width: auto;
}

.wrapper .main .main__portfolio button {
  font-family: 'Halyard Text';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  background-color: #3751FF;
  border-radius: 100px;
  border: none;
  padding: 17px 39px;
  margin-right: 22px;
  margin-top: 19px;
  margin-bottom: 36px;
}

.wrapper .main .main__portfolio img {
  max-width: 1600px;
  width: 100%;
}

.wrapper .main .main__testimonials h2 {
  font-family: 'Halyard Display';
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #1E266D;
  margin-top: 139px;
}

.wrapper .main .main__testimonials .main__testimonials_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1179px;
  width: 100%;
}

.wrapper .main .main__testimonials .main__testimonials_conteiner .main__testimonials_conteiner_box {
  border: 1px solid #45588033;
  padding: 38px 43px;
  max-width: 373px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main .main__testimonials .main__testimonials_conteiner .main__testimonials_conteiner_box p {
  font-family: 'Halyard Text';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #455880;
}

.wrapper .main .main__testimonials .main__testimonials_conteiner .main__testimonials_conteiner_box h4 {
  font-family: 'Halyard Display';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  text-align: center;
  color: #1E266D;
  margin-bottom: 0%;
}
/*# sourceMappingURL=style.css.map */