@font-face {
    font-family: 'Halyard Display';
    src: url(../fonts/Halyard_Display.ttf);
}
@font-face {
    font-family: 'Halyard Text';
    src: url(../fonts/Halyard_Text_Regular.ttf);
}
body {
    background-color: #E5E5E5;
}
.wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    .header {
        margin: 0 auto;
        display: flex;
        max-width: 1180px;
        width: 100%;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    
    // logo
    .logo {
        color: #1E266D;
        text-decoration: none;
        font-family: 'Halyard Display';
        font-style: normal;
        font-weight: 600;
        font-size: 30.9562px;
        line-height: 100%;
        }
        .logo::after {
            content: ':';
            color: #FF2E6A;
        }
        // dropdow_narrow
    .dropdown {
            position: relative;
            display: inline-block;
          }
          
    .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            li {
                display: inline;
            }
            a {
                color: #1E266D;
                // padding: 12px 16px;
                text-decoration: none;
                
                
              }
          }
          
     
        .dropdown-content a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-content {display: block;}
    
        // Contacts
        .contacts {
            font-family: 'Halyard Text';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 80px;
            span {
                color: #1E266D;
                margin-right: 35px;
            }
            button {
                background: #3751FF;
                border-radius: 100px;
                color: #FFFFFF;
                padding: 16px 18px;
                border: none;
            }
            button:hover {
                background-color: #fff;
                color: #FF2E6A;
            }
    }
    }

    .main {

    .main__greeting {
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 150px;
        h1 {
            font-family: 'Halyard Display';
            font-style: normal;
            font-weight: 500;
            font-size: 56px;
            line-height: 105%;
            color: #1E266D;
            max-width: 503px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
        p {
            font-family: 'Halyard Text';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #455880;
            padding-top: 25px;
            margin: 0 auto;
        }

        .main__greeting_buttons {
            margin-top: 30px;
            margin-bottom: 30px;
        
        .main__greeting_buttons_blue {
            font-family: 'Halyard Text';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color:#FFFFFF;
            background-color: #3751FF;
            border-radius: 100px;
            border: none;
            padding: 17px 39px;
            margin-right: 22px;
        }          
        .main__greeting_buttons_clear {
            font-family: 'Halyard Text';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: #455880;
            background-color: #fff;
            border-radius: 100px;
            border: none;
            padding: 17px 39px;
        }
        }
    }
    .main__logos {
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        p {
            font-family: 'Halyard Text';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: rgba(69, 88, 128, 0.5);
        }
        .main__logos_sites {
            display: flex;
            max-width: 1180px;
            width: 100%;
            justify-content: space-between;
        }
    }
    .main__about    {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        h2 {
            font-family: 'Halyard Display';
            font-weight: 500;
            font-size: 48px;
            line-height: 60px;
            text-align: center;
            color: #1E266D;
            margin-top: 169px;
            max-width: 452px;
            width: 100%;
            }
        .main__about_content {
            display: flex;

            .main__about_content_left_img {
                margin-top: -180px;
                margin-right: 138px;
                margin-bottom: 34px;
            }
            .main__about_right_panel {
                display: flex;
                flex-direction: column;
                .main__about_right_panel_box_design, .main__about_right_panel_box_easy, .main__about_right_panel_box_fast {
                    display: flex;
                    align-items: flex-start;
                    border-bottom: 1px solid rgba(69, 88, 128, 0.2);
                    .main__about_right_panel_transcription {
                        margin-left: 48px;
                        padding-bottom: 10px;
                        
                            h4 {
                                margin-top: 0;
                                font-family: 'Halyard Display';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 22px;
                                line-height: 125%;
                                color: #1E266D;
                            }
                            P {
                                font-family: 'Halyard Text';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 27px;
                                color: #455880;
                            }
                    }
                }
                .main__about_right_panel_box_easy, 
                .main__about_right_panel_box_fast {
                    margin-top: 29px;
                }
                .main__about_right_panel_box_fast {
                    border: none;
                }
            }

        }
    }
    .main__portfolio {
        max-width: 1600px;
        width: 100%;
        background-color: #FFF9EA;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h2 {
            font-family: 'Halyard Display';
            font-weight: 500;
            font-size: 48px;
            line-height: 60px;
            text-align: center;
            color: #1E266D;
            margin-top: 139px;
        }
        p {
            font-family: 'Halyard Text';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 150%;
            text-align: center;
            color: #455880;
            max-width: 420px;
            width: auto;
            
        }
        button {
            font-family: 'Halyard Text';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color:#FFFFFF;
            background-color: #3751FF;
            border-radius: 100px;
            border: none;
            padding: 17px 39px;
            margin-right: 22px;
            margin-top: 19px;
            margin-bottom: 36px;
        }
    }
    .main__testimonials {
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        h2 {
            font-family: 'Halyard Display';
            font-weight: 500;
            font-size: 48px;
            line-height: 60px;
            text-align: center;
            color: #1E266D;
            margin-top: 139px;
        }
        .main__testimonials_conteiner {
            display: flex;
            align-items: flex-start;
            max-width: 1179px;
            width: 100%;
            .main__testimonials_conteiner_box_left, .main__testimonials_conteiner_box_centr, .main__testimonials_conteiner_box_right {
                border: 1px solid #45588033;
                padding: 38px 43px;
                max-width: 373px;
                width: 100%;
                height: 467px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                
                p {
                    font-family: 'Halyard Text';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 180%;
                    color: #455880;
                }
                img {
                    align-self: center;
                }
                
                .main__testimonials_conteiner_box_footer {
                    width: 270px;
                    height: 60px;
                    h4 {
                    font-family: 'Halyard Display';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 125%;
                    text-align: center;
                    color: #1E266D;
                    margin-bottom: 0%;
                }
                    p {
                    text-align: center;
                    margin-top: 0%;
                }
                }
            }
            .main__testimonials_conteiner_box_centr {
                margin: 0 31.65px 0 31.65px;
            }
        }

    }
    .main__cta {
        background-color: #3751FF;
        margin-top: 148px;
        display: flex;
        max-width: 1600px;
        width: 100%;
        height: 323px;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        h2 {
            font-family: 'Halyard Display';
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 60px;
            color: #FFFFFF;
            max-width: 366px;
            width: 100%;
        }
        .main__cta_button-box {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        button {
            width: 245.28px;
            height: 56px;
            background-color: #FFFFFF;
            border-radius: 100px;
            border: none;
            font-family: 'Halyard Display';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 110%;
            text-align: center;
            color: #455880;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            justify-content: space-evenly;
            box-sizing: border-box;
        }
        button:hover {
            background-color: #FED385;
            color: #FF2E6A;
        }
        a {
            text-decoration: none;
            color: #FED385;
        }
        p {
            font-family: 'Halyard Text';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            color: #DFE0EB;
        }
    }
    }
    }
    .footer {
        .footer__up {
            display: flex;
            max-width: 1180px;
            width: 100%;
            margin: 0 auto;
            justify-content: space-between;
            align-items: baseline;
            padding: 128px 0 68px 0;
            border-bottom: 1px solid rgba(135, 146, 161, 0.08);
            ul {
                padding: 0%;
            }
            h5 {
                font-family: 'Halyard Display';
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 125%;
                color: #1E266D;
            }
            a {
                font-family: 'Halyard Text';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 225%;
                color: #455880;
            }
            .digits{
                width: 310px;
                height: 66px;
                display: flex;
                flex-direction: column;
                .logo {
                font-family: 'Halyard Display';
                font-style: normal;
                font-weight: 600;
                font-size: 26.1637px;
                line-height: 100%;
                color: #1E266D;
                text-decoration: none;
                margin-bottom: 31.37px;
            }
            .logo::after {
                content: ':';
                color: #FF2E6A;
            }
            p {
                font-family: 'Halyard Text';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 145%;
                color: #455880;
            }
            }
            .pages, .demos {
                display: flex;
                flex-direction: column;
                ul {
                    margin-top: 0%;
                }
            }
            .resourses {
                .social {
                    li {
                        display: inline;
                        margin-right: 26px;
                    }
                }
            }
        }
        .footer__bottom {
            display: flex;
            max-width: 1180px;
            width: 100%;
            margin: 0 auto;
            padding: 53px 0 107px 0;
            justify-content: space-between;
            li {
                display: inline;
                a {
                font-family: 'Halyard Text';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                text-align: right;
                color: #455880;
                margin-left: 27px;
                }
            }
            p {
                font-family: 'Halyard Text';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                color: rgba(69, 88, 128, 0.5);
            }
        }
    }
}