body {
    width: 1440px;
    height: 3264px;
    background-color: #EDF1F3;
}
.wrapper {
    width: 1280px;
    height: 1104;
    margin: 66px auto;
    background-color: #ffff
}
.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
}

.nav-menu li {
    float: right;
    width: 120px;
}
.nav-menu a {
    padding: 16px 0;
    width: 120px;
}
.sign  {
    border: 1px solid #0066CC;
}
.sign a {
    color: #0066CC;
    text-decoration: none;
}
.nav-menu img {
    width: 104px;
    height: 32px;
    padding: 16px 72px;
    
}
/* .title {
    background-image: url(../img/fbg.png);
    height: 200px;
    text-align: center;
}
.title h1 {
    font-size: 64px;
    text-transform: uppercase;
    padding: 48px 74px 0;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.08em;
    font-variant: small-caps;
}
.title h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 24px;
} */
.b-img {
    position: absolute;
}
.title {
    color: #fff;
    z-index: 3;
}