* {
    position: relative;
}
body {
    width: 1440px;
    height: 3264px;
    background-color: #EDF1F3;
}
.wrapper {
    width: 1280px;
    height: 1104;
    margin: 66px auto;
    background-color: #ffff
}
.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
}
.logo a {
    width: 104;
    height: 32px;
    
}

.nav-menu li {
    float: right;
    width: 120px;
    
}
.nav-menu a {
   width: 120px;
}

.nav-menu img {
    width: 104px;
    height: 32px;
    padding: 16px 0 16px 72px;
}
button {
    margin-right: 72px;
    width: 96px;
    height: 48px;
    text-transform: uppercase;
    border-radius: 2px;
    color: #0066cc;
    border-color: #0066cc;
}
.banner {
    background-image: url(../img/fbg.png);
    height: 200px;
    text-align: center;
}
.title h1 {
    font-size: 64px;
    text-transform: uppercase;
    padding: 48px 74px 0;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.08em;
    font-variant: small-caps;
}
.title h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 24px;
}
.breadcrumbs {
    width: 1280px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
}
.breadcrumbs li {
    float: left;
    padding-left: 72px;
}
.main {
    padding: 64px 72px;
    background-color: #FAFAFA;
    height: 528px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.main-block {
    width: 368px;
    height: 400px;
    background-color: #FFFFFF;
    
}
.footer {
    display: flex;
    background-color: #FCFCFC;
    height: 256px;
    justify-content: space-evenly;
}